---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: 100%;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 2rem;
				padding: 1rem;
				border-radius: 12px;
				background: transparent;
			}
			ul li a:hover {
				background: rgba(var(--gray-light), 0.3);
			}
			.content-left {
				flex: 1;
			}
			ul li img {
				width: 240px;
				height: 135px;
				object-fit: cover;
				border-radius: 12px;
				margin-bottom: 0;
			}
			.title {
				margin: 0 0 0.5rem 0;
				color: rgb(var(--black));
				line-height: 1.2;
				font-size: 1.5rem;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover .title,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 1rem;
				}
				ul li a {
					flex-direction: column;
					align-items: flex-start;
					gap: 1rem;
				}
				ul li img {
					width: 100%;
					height: auto;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
						!post.data.hidden &&
							<li>
								<a href={`/blog/${post.id}/`}>
									<div class="content-left">
										<h4 class="title">{post.data.title}</h4>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</div>
									{post.data.heroImage ? 
											<img width={720} height={360} src={post.data.heroImage} alt="" />
										:
											<img width={720} height={360} src="cat-1.svg" alt="" />
										}
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
